* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Montserrat', sans-serif;

}

body {
    background-color:#000;
}

canvas {
    display:block;
}

button {
    all:unset;
}

@keyframes out {
    0% {opacity:1;}
    100% {opacity:0;}
}

@keyframes in {
    0% {opacity:0;}
    100% {opacity:1}
}

.fade-in {
    animation-name:in;
    animation-duration:0.5s;
}

.fade-out {
    animation-name:out;
    animation-duration:0.5s;
}
  
.loading {
    background: transparent;
    font-size:0;
    width:30px;
    height:30px;
    border-radius:100%;
    padding:0;
    border:4px solid #FFFFFF;
    border-bottom:4px solid transparent;
    border-left:4px solid transparent;
    animation-name:spin;
    animation-duration:0.5s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}

@keyframes spin {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(359deg);}
}

.root--loading {
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

#graphics {
    position:absolute;
    width:100vw;
    height:100vh;
    z-index:0;
    overflow:hidden;
}

// show info/warning/error messages
.info--container {
    position:absolute;
    bottom:20px;
    width:100%;
    z-index:998;
   
    .info-box {
        opacity:1;
        max-width:800px;
        margin:10px auto 10px auto;
        display:flex;
        padding:15px;
        align-items:center;
        border-radius:2px;
        border-width:1px;
        border-style:solid;
        
        svg {
            width:24px;
            height:24px;
        }

        .icon {
            line-height:0;
            padding-right:15px;
        }

        button {
            line-height:0;
            cursor:pointer;
            background-color:transparent;
            border:none;
        }

        p {
            font-size:16px;
            flex-grow:1;
            margin-right:50px;
        }
    }

    .warning {
        border-color:#F2EB9E;
        background-color:#FFF7A7;
    }

    .info {
        background-color:rgba(0, 193, 236, 1);
        border-color:rgba(0, 163, 217, 1);
        color:#fff;

        svg {
            fill:#fff;
        }
    }

    .error {
        background-color:rgba(217, 9, 0, 1);
        border-color:rgba(255, 60, 0, 1);
        color:#fff;

        svg {
            fill:#fff;
        }
    }
}

// show kill log
.kill--container {
    position:absolute;
    right:0;
    margin:20px;

    & > div {
        right:0;
        background-color:rgba(0, 0, 0, 0.5);
        padding:10px;
        font-size:16px;
        color:#fff;
        display:flex;
        align-items:center; 
    }

    svg {
        fill:#fff;
        width:40px;
        margin:0px 10px 0px 10px;
        //height:20px;
    }
}



// enter player name
.popup--container {
    position: relative;
    z-index:997;
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:100vh;
    width:100%;
    background-color:rgba(0, 0, 0, .5);
    animation:bg-fade;
    animation-duration:1s;

    @keyframes border-flash {
        0%   {border-color:transparent;}
        100% {border-color:rgba(217, 9, 0, 1);}
    }

    @keyframes bg-fade {
        0% {background-color:rgba(0, 0, 0, 0);}
        100% {background-color:rgba(0, 0, 0, .5)}
    }
    
    @keyframes fly-in {
        0% {transform:translateY(calc(-50vh - 150px));}
        100% {transform:translateY(0%);}
    }

    .popup--window {
        z-index:999;
        background-color:#fff;
        min-width:350px;
        border-radius:2px;
        animation:fly-in;
        animation-duration:0.5s;

        .window--container {
            display:flex;
            flex-direction:column;
            padding:20px;
        }

        input[type="text"] {
            box-sizing:border-box;
            border:1px solid #ededed;
            background-color:#fcfaf8;
            height:60px;
            padding:5px 5px 5px 15px;
            font-size:20px;
            width:320px;
            outline:none;
            margin-top:15px;

            &:focus { 
                transition:border-width 0.2s ease-in, padding 0.2s ease-in;
                padding:2px 2px 2px 12px;
                border-color:rgba(0, 163, 217, 1);
                border-width:4px;
                outline:none;
            }

            &::placeholder {
                font-style:italic;
                color:#ededed;
            }

            &.input-error {
                border-color:rgba(217, 9, 0, 1);
                animation-name:border-flash;
                animation-duration:0.5s;
            }
        }

        .error {
            display:flex;
            align-items:center;
            margin-top:10px;
            margin-bottom:-5px; // whatever..
            font-size:16px;

            svg {
                width:24px;
                height:24px;
                fill:rgba(217, 9, 0, 1);;
            }

            p {
                padding:5px;
            }
        }

        .submit-button {
            margin-top:15px;
            display:flex;
            align-items:center;
            justify-content:space-around;
            box-sizing:border-box;
            border:1px solid rgba(67, 156, 97, 1);
            background-color:rgba(95, 186, 125 ,1);
            height:60px;
            color:#fff;
            cursor:pointer;
            font-weight:600;
            font-size:20px;
            width:320px;
            padding:5px;
        }

        .submit-button-loading {
            background-color:rgba(67, 156, 97, 1);
        }

        button {
            svg {
                fill:#fff;
            }

            &:focus {
                transition:border-width 0.2s ease-in, padding 0.2s ease-in;
                border:4px solid rgba(67, 156, 97, 1);
                padding:2px;
            }
        }

        label {
            font-size:20px;
            font-style:italic;
        }

        .logo {
            min-height:150px;
            border-bottom:1px dashed #ededed;
        }
    }
}

// connected players
.players {
    position:absolute;
    z-index:1;
    bottom:0;
    left:0;
    padding:5px;
    font-size:15px;
    color:#fff;

    span {
        color:red;
    }
}