* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Montserrat', sans-serif;

}

canvas {
    display:block;
}

button {
    all:unset;
}

// #kills {
//     position:absolute;
//     right:0;
//     margin:20px;

//     div {
//         background-color:#000;
//         padding:5px;
//         color:#fff;
//         margin-bottom:5px;
//         animation:fadein 0.5s;
//     }

//     @keyframes fadein {
//         from {opacity: 0;}
//         to   {opacity: 1;}
//     }
// }

.input-test {
    position:absolute;
    margin:100px;
    padding:20px;
    border:1px solid red;
    background-color:black;

    input {
        padding:10px;
        border:1px solid green;

        &:focus {
            outline:none;
        }
    }
}

#graphics {
    position:absolute;
    width:100vw;
    height:100vh;

    @keyframes fade-in {
        0% {opacity:0;}
        100% {opacity:0.5}
    }

    &.blur {
        // animation-name:fade-in;
        // animation-duration:0.5s; 
        // background-color:#000;
        // opacity:0.5;
        background-color:rgba(0, 0, 0, .5);
    }

    

    .panel {
        z-index:1;
        background-color:#fff;
        //padding:20px;
        min-width:350px;
        border-radius:2px;
        
        input[type="text"] {
            border:1px solid #ededed;
            background-color:#fcfaf8;
            height:60px;
            padding-left:15px;
            font-size:20px;
            width:auto;
            //padding:15px;
            outline:none;
            margin:15px 0px 15px 0px;

            &::placeholder {
                font-style:italic;
                color:#ededed;
            }

            &:focus {
                border-color:rgba(0, 163, 217, 1);
                border-width:1px;
            }
        }

        button {
            border:none;
            display:flex;
            align-items:center;
            justify-content:space-around;
            border:1px solid rgba(67, 156, 97, 1);
            background-color:rgba(95, 186, 125 ,1);
            height:60px;
            color:#fff;
            cursor:pointer;
            font-weight:600;
            font-size:20px;

            &:hover {
                background-color:rgba(67, 156, 97, 1);
            }

            svg {
                fill:#fff;
            }

            &:focus {
                border-color:rgba(0, 163, 217, 1);
                border-width:1px;
            }
        }

        label {
            font-size:20px;
            font-style: italic;
        }

        .logo {
            text-align:center;
            padding:50px 20px 40px 20px;
            // padding:50px 0px 50px 0px;
            // margin-bottom:20px;
            border-bottom:1px dashed #ededed;
            

            h1 {
                color:#FFA500;
                //text-shadow: 2px 2px 25px tomato;
                //color:orange;
                font-size:50px;
            }

            svg {
                width:210px;
                height:60px;
                margin-left:35px;
            }
        }

        .add-name {
            display:flex;
            flex-direction:column;
            padding:20px;
        }
    }

    .center {
        display:flex;
        justify-content:space-around;
        align-items:center;
        height:100vh;
    }
}

#info {
    

    position: absolute;
    bottom:20px;
    width:100%;

    .info-box {
        opacity:1;
        // animation-name:fade-in;
        // animation-duration:0.5s;
        //background-color:#fff;
        //color:#fff;
        max-width:800px;
        margin:10px auto 10px auto;
        display:flex;
        padding:15px;
        align-items:center;
        border-radius:2px;
        border-width:1px;
        border-style:solid;

        svg {
            width:24px;
            height:24px;
            //fill:#fff;
        }

        .icon {
            line-height:0;
            padding-right:15px;
        }

        button {
            line-height:0;
            cursor:pointer;
            background-color:transparent;
            border:none;
        }

        p {
            font-size:16px;
            flex-grow:1;
            margin-right:50px;
        }

    }

    .warning {
        border-color:#F2EB9E;
        background-color:#FFF7A7;
        // background-color:#ffbb33;
        // border-color:#FF8800;
    }

    .info {
        background-color:rgba(0, 193, 236, 1);
        border-color:rgba(0, 163, 217, 1);
        color:#fff;

        svg {
            fill:#fff;
        }
    }

    .error {
        background-color:rgba(217, 9, 0, 1);
        border-color:rgba(255, 60, 0, 1);
        color:#fff;

        svg {
            fill:#fff;
        }
    }
}

@keyframes out {
    0% {opacity:1;}
    100% {opacity:0;}
}

@keyframes in {
    0% {opacity:0;}
    100% {opacity:1}
}

.fade-in {
    animation-name:in;
    animation-duration:0.5s;
}

.fade-out {
    animation-name:out;
    animation-duration:0.5s;
}

#kills {
    position:absolute;
    right:0;
    margin:20px;

    & > div {
        background-color:rgba(0, 0, 0, 0.5);
        padding:10px;
        font-size:16px;
        color:#fff;
        display:flex;
        align-items:center; 
    }

    svg {
        fill:#fff;
        width:40px;
        margin:0px 10px 0px 10px;
        //height:20px;
    }
}